.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 15px 26px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:hover {
  box-shadow: #222222 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 0 0 3px;
  transition: box-shadow .2s;
}

@media screen and (max-width: 600px) {
  .button-23 {
    font-size: 14px;
    padding: 10px 20px;
  }
  
}