.slide-show-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
  transition: opacity 250ms ease-in-out;
}

.slide-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
}

.x-circle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  right: 1rem;
  color: whitesmoke;
  filter: drop-shadow(0rem 0rem 1rem rgb(0,0,0,0.2));
  z-index: 3;
}

.x-circle:hover {
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 3rem;
  height: 3rem;
  color: whitesmoke;
  filter: drop-shadow(0rem 0rem 1rem rgb(0,0,0,0.2));
  z-index: 3;
  user-select: none; /* Prevent text selection */
  outline: none; /* Remove outline */
}

.arrow:hover {
  cursor: pointer;
}

.arrow:disabled {
  cursor: not-allowed;
  opacity: 0;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.slide-selections {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.selection {
  background-color: whitesmoke;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0rem 0rem 1rem rgb(0,0,0,0.2);
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.selection-inactive {
  background-color: rgb(102, 102, 102);
}

@media screen and (max-width: 600px) {
  .slide-show {
    width: 100%;
    height: auto;
  }

  .arrow {
    color: rgba(245, 245, 245, 0.5);
  }

  .x-circle {
    color: rgba(245, 245, 245, 0.8);
  }

  .arrow-left {
    left: 0.1rem;
  }

  .arrow-right {
    right: 0.1rem;
  }

}