form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Newsreader", serif;
  font-weight: 400;
}

input {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Newsreader", serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 1.5rem 0 0.5rem 0;
  padding: 10px 10px;
  line-height: 1;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  background-color: white;
}

option {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

label {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Newsreader", serif;
  font-weight: 200;
}

legend {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0 0 0.5rem 0;
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 20px 0;
  border: none;
  width: 100%;
}

.invited-guests-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 5rem;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 2rem 0 0 0;
}

.individual-guest-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.invited-guest-text {
  width: max-content;
  margin: 0;
  padding: 0 0 25px 0;
}

.spacing {
  margin: 1rem 0;
}

.label-text {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.label-diet-subtext {
  font-size: 1rem;
  font-weight: 200;
  line-height: 2;
  text-transform: capitalize;
  color: rgb(88, 88, 88);
}

.label-name {
  margin: 0;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  font-family: "Newsreader", "Times New Roman", Times, serif;
}

.radio-select-text {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
  /* text-transform: capitalize; */
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
}

.radio-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.radio-input {
  margin: 0 0.5rem 0 0;
  padding: 0;
  width: max-content;
  border: 2px solid #ccc;
  background-color: #fff;
}

.label-input-container {
  margin: 30px 0;
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
}

input[type="radio"]:checked {
  border: 6px solid black;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.attendance-selection {
  margin: 1rem 0;
}

.rsvp-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 92.5%;
  margin: 15vh 0;
}

.rsvp-form-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rsvp-title {
  font-family: "Newsreader", serif;
  font-size: 40px;
  font-weight: 400;
}

.rsvp-form {
  margin: 1rem 0 0 0;
  width: 100%;
}

.poprawiny-rsvp-text {
  width: 100%;
}

.question-mark {
  font-size: 15px;
  margin: 0 0 0 7px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  color: rgb(71, 71, 71);
  -webkit-tap-highlight-color: transparent;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(74, 74, 74);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin: 2rem 0 0 0;
}

.name-verification-text-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
}

.name-verification-input-container {
  margin: 3rem 0 1rem 0;
}

.loading-spinner {
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 2rem 0 10rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.thank-you-text {
  font-size: 1rem;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  line-height: 2;
  color: rgba(0, 0, 0, 0.7);
  margin: 5rem 0 10rem 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .name-verification-input-container {
    margin: 4rem 0 0 0;
  }

  legend {
    font-size: 16px;
    line-height: 1.7;
  }

  .question-mark {
    font-size: 12px;
    margin: 0 0 0 3px;
  }

  .radio-select-text {
    font-size: 15px;
  }

  .label-text {
    font-size: 16px;
  }

  .rsvp-title {
    margin: 2rem 0 0 0;
    padding: 0;
  }

  .rsvp-form-container {
    max-width: none;
  }

  .thank-you-text {
    margin: 5rem 0;
  }

  .invited-guests-container {
    padding: 6rem 0;
    width: 100%;
  }
}

/* button 23 */
.button-23 {
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: 20px 26px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:hover {
  box-shadow: #bcbcbc 0 0 0 1px, rgba(191, 191, 191, 0.1) 0 0 0 1px;
  transition: box-shadow 0.2s;
}

@media screen and (max-width: 600px) {
  .button-23 {
    font-size: 15px;
  }
}
