.argentina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.argentina-homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 90vh;
}

.title-argentina {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0 0 0 0;
}

.flowers-argentina {
  width: 200px;
  height: auto;
  padding: 0 0 4rem 0;
}

.left {
  transform: scaleX(-1);
}

.argentina-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 600px) {
  .title-argentina {
    font-size: 2rem;
    padding: 0;
  }

  .flowers-argentina {
    width: 90px;
    height: auto;
    padding: 0;
  }

  .argentina-homepage-container {
    height: 80vh;
  }
}