.details-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.details-individual-container-argentina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 0;
  width: 30%;
}

.details-individual-container-poland {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  padding: 0;
}

.date-details-subtext-container {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 40px;
  font-weight: 200;
  font-family: "Newsreader", serif;
  color: rgba(0, 0, 0, 0.9);
  margin: 0.5rem 0 1.5rem 0;
  padding: 0;
}

.date-details-subtext {
  font-size: 30px;
  font-weight: 200;
  font-family: "Newsreader", serif;
  line-height: 1.6;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0.3rem 0;
}

.address-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 0;
}

.address-details-subtext {
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Newsreader", serif;
  line-height: 1.9;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
}

.attire-details-subtext {
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Newsreader", serif;
  line-height: 1.6;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
}

.attire-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 1rem 0;
  padding: 0;
}

.ceremony-icon {
  width: 100px;
  height: auto;
  padding: 0;
  margin: 0 0 2rem 0;
}

.cheers-icon-argentina {
  width: 100px;
  height: auto;
  padding: 0;
  margin: 0 0 2rem 0;
}

.castle-icon {
  width: 100px;
  height: auto;
  padding: 0;
  margin: 0 1rem 2rem 0;
}

.cheers-icon-poland {
  width: 100px;
  height: auto;
  padding: 0;
  margin: 0 0 2rem 1rem;
}

.ceremony-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .details-parent-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details-individual-container-argentina {
    width: 80%;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .date-details-subtext {
    font-size: 1.1rem;
  }

  .ceremony-icon {
    width: 80px;
  }

  .cheers-icon-argentina {
    width: 80px;
  }

}