.button-60 {
  align-items: center;
  appearance: none;
  box-shadow: none;
  color: black;
  cursor: pointer;
  font-family: "Newsreader", serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.2rem;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .button-60 {
    font-size: 1.2rem;
  }
}