.count-down {
  font-size: 3rem;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.7);
}

.full-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 1rem;
}

.count-text {
  font-size: 2rem;
}

.subtext {
  font-size: 1rem;
  margin: 0.2rem 0 0 0;
}

@media screen and (max-width: 600px) {
  .full-count-container {
    margin: 3rem 0 0 0;
  }
  .count-text {
    font-size: 1.5rem;
  }
  
}

