.poland-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav-poland-container-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  height: 6rem;
  width: 90%;
  z-index: 1;
  animation: fade 1s ease-in;
}

.nav-directory-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: auto;
  font-size: 20px;
  font-family: "Newsreader", serif;
  font-weight: 200;
}

.nav-link-desktop {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

.date-header {
  margin: auto;
  font-size: 30px;
  font-family: "Newsreader", serif;
  font-weight: 200;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rsvp-button-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

@media screen and (max-width: 1180px) {
  .nav-directory-container {
    width: 40vw;
  }
}