.join-us-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
}

.join-us-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 85%;
  height: 70vh;
  border-radius: 15px;
}

.join-us-title {
  font-size: 20px;
  font-family: "Newsreader", serif;
  font-weight: 200;
  color: white;
}

.join-us-subtext {
  font-size: 50px;
  font-family: "Newsreader", serif;
  font-weight: 300;
  color: white;
  margin: 3.5rem 0 2.5rem 0;
}