.bouncing-arrow {
  height: auto;
  width: 50px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  animation: fading 3s infinite ease-in-out;
  z-index: 10;
  bottom: 0px;
}

@keyframes fading {
  0% {
    bottom: 0px;
    opacity: 1;
  }
  50% {
    bottom: 15px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}

.bouncing-arrow-container {
  display: block;
  margin: 100px 0 0 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .bouncing-arrow {
    width: 50px;
  }

  .bouncing-arrow-container {
    display: block;
    margin: 50px 0 0 0;
  }
}