.poland-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poland-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: calc(100vh / 2.5) 0 0 0;
  animation: fade 1s ease-in;
}

.poland-names-title {
  font-family: "Newsreader", serif;
  font-weight: 200;
  color: white;
  font-size: 3rem;
  margin: 0 0 3rem 0;
}

.day-two-subtext {
  font-family: "Newsreader", serif;
  font-weight: 200;
  color: white;
  font-size: 2rem;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}

.poland-wedding-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 95vh 0 0 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .poland-names-title {
    font-weight: 200;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }

  .poland-wedding-details {
    margin: 100vh 0 0 0;
  }

  .poland-home-content {
    margin: calc(100vh / 3) 0 0 0;
  }
}

@media screen and (max-width: 430px) {
  .poland-wedding-details {
    margin: 95vh 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .poland-wedding-details {
    margin: 92.5vh 0 0 0;
  }
}