.home-container {
  position: absolute;
  width: 50vw;
  height: auto;
  margin: 0;
  top: 150px;
  left: 30rem;
}

.logo {
  height: 300px;
  width: auto;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .home-container {
    top: 60vh;
    left: 50vw;
  }

  .logo {
    height: 150px;
  }
  
}