.carousel-text {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Newsreader", serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 600px) {
  .carousel-text {
    margin: 0;
    font-size: 1.25rem;
  }

}