.carousel-text {
  margin: 3rem 0 0 0;
  font-size: 1.75rem;
  font-family: "Libre Baskerville", serif;
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 600px) {
  .carousel-text {
    margin: 0;
    font-size: 1.25rem;
  }
  
}