.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-text {
  font-family: Montserrat;
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
}