@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
  /* Colors from wedding palette */
  --primary-color: #fff5ee;
  --secondary-color: #fbd8bb;
  --tertiary-color: #f2b49b;
  --quaternary-color: #f5dc93;
  --accent-color: #b78d75;
  /* Text color */
  --text-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
}

h1 {
  margin: 0;
}

p {
  font-size: 0.9rem;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

button {
  color: whitesmoke;
}

footer {
  color: whitesmoke;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Button Main */
.button-main {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Newsreader", serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: none;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 150px;
  padding: 15px 0;
}

.button-main:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-main:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-main:after {
  background-color: #FFFFFF;
}

.button-main span {
  z-index: 1;
  position: relative;
}

/* Fade In Start Animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
}