.map-container {
  height: 100%;
  width: 60%;
  border-radius: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .map-container {
    width: calc(100% - 30px);
  }

}