.whatsapp-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  font-family: 'Newsreader', serif;
  font-weight: 300;
  color: black;
  width: 85%;
  height: 60vh;
  border-radius: 15px;
  background-color: #3cf580;
  overflow: hidden;
}

.whatsapp-logo-background {
  position: absolute;
  left: -100px;
  color: #38e477;
  z-index: 0;
}

.whatsapp-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 30%;
  z-index: 1;
}

.whatsapp-text {
  font-size: 25px;
  z-index: 1;
}

.whatsapp-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  margin: 0 0 2rem 0;
  z-index: 1;
}

.join-whatsapp-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
  z-index: 1;
}

.join-whatsapp-button a {
  color: #3cf580;
}

.join-whatsapp-button:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .whatsapp-banner {
    width: 92.5%;
    height: 60vh;
    margin-bottom: 4rem;
  }

  .whatsapp-logo-background {
    left: 100px;
    bottom: -90px;
  }
}

@media screen and (max-width: 400px) {
  .whatsapp-text {
    font-size: 20px;
  }

  .join-whatsapp-button {
    font-size: 16px;
  }
}